

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.axis path{
fill: none;
stroke: #000;
}

.axis line{
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}

.axis text{
	font-size: 10px;
}














